:root {
    --color-black: #222;
}

//  Media Query Manager  
/*  
    0 - 600px: phone
    600-900px: tablet potrait
    900-1200px: tablet landscape
    [1200-1800px]: normal width
    1800px+: big desktop

    $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop

    Order: Base + typography > general layout + grid > page layout > components.
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };
    }
    @if $breakpoint == big-desktop {
        @media only screen and (max-width: 112.5em) { @content };
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    line-height: 1.7;
    font-family: 'Playfair Display', serif;
    color: var(--color-black);
    // font-family: 'IBM Plex Sans', sans-serif;
}

html {
    font-size: 100%;

    // @include respond(tab-land) {
    //     font-size: 56.25%; 
    // }

    // @include respond(tab-port) {
    //     font-size: 50%;
    // }

    // @include respond(big-desktop) {
    //     font-size: 75%;
    // }
}

.wrapper {
    width: 80vw;
    margin: 0 10vw;
}

.btn {
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-align: center;

    &--white {
        color: #222;
        background-color: #f2f2f2;

        &:hover {
            background-color: #ddd;
        }
    }

    &--black {
        color: #f2f2f2;
        background-color: #222;

        &:hover {
            background-color: #444;
        }
    }
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    padding: 1.5rem 1rem;

    @include respond(phone) {
        display: flex;
        flex-direction: column;
    }

    &-link {
        text-decoration: none;
        color: inherit;
        &:hover { font-weight: 600; }

        @include respond(phone) {
            margin-bottom: 1rem;
        }
    }

    &-logo {
        @include respond(phone) {
            order: -1;
            margin-bottom: 1rem;
        }
    }

    &-logo img {
        height: 1.2rem;
    }

    &-action {
        &_link {
            margin-left: 1.2rem;
            text-decoration: none;
            color: inherit;
            &:hover { font-weight: 600; }
        }

        &_link {
            img { width: 1rem; }
        }
    }
}

.option {
    display: flex;
    justify-content: center;
    border-top: rgba($color: #333, $alpha: .3) solid 1px;
    border-bottom: rgba($color: #333, $alpha: .3) solid 1px;

    &-links {
        margin: 0 1.2rem;
        text-decoration: none;
        color: #888;
        padding: 1.5rem 0;

        &:hover {
            text-decoration: underline  ;
        }
    }
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#captioned-gallery {
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
}

figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 15s slidy infinite;
}

figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}

figure.slider img {
    width: 100%;
    height: auto;
}

.discount {
    background-color: #222;
    color: #f2f2f2;
    padding: 3rem 3.5rem;
    border-radius: .5rem;
    line-height: 1.2;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-amount {
        font-size: 4rem;
        margin-bottom: 1rem;
        text-align: center;
        line-height: 1;

        @include respond(phone) {
            margin-bottom: 1.2rem;
        }
    }

    &-title {
        @include respond(phone) {
            margin-bottom: 1.2rem;
        }
    }

    &-subtitle {
        text-align: center;
    }
}

.collection {
    width: 100vw;
    height: 80vh;
    padding: 0 7rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
        color: #f2f2f2;
        font-size: 3rem;
        margin-bottom: .5rem;

        @include respond(phone) {
            margin: 0;
            text-align: center;
        }
    }

    // For :nth-child(i)

    &--1 {
        background-image: 
            linear-gradient(to right, rgba(#333, .1) 50%, rgba(#333, 1) 100%),
            url('https://images.unsplash.com/photo-1496747611176-843222e1e57c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80');
        align-items: flex-end;

        @include respond(phone) {
            background-image: 
                linear-gradient(to top, rgba(#333, .5) 50%, rgba(#333, 1) 100%),
                url('https://images.unsplash.com/photo-1496747611176-843222e1e57c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80');
            align-items: center;
        }
    }

    &--2 {
        background-image: 
            linear-gradient(to left, rgba(#333, .1) 50%, rgba(#333, 1) 100%),
            url('https://images.unsplash.com/photo-1494228766058-1430438d10fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80');
        align-items: flex-start;

        @include respond(phone) {
            background-image: 
                linear-gradient(to top, rgba(#333, .5) 50%, rgba(#333, 1) 100%),
                url('https://images.unsplash.com/photo-1494228766058-1430438d10fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80');
            align-items: center;
        }
    }

    &--3 {
        background-image: 
            linear-gradient(to right, rgba(#333, .1) 50%, rgba(#333, 1) 100%),
            url('https://images.unsplash.com/photo-1629532599813-141ef98cc1a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
        align-items: flex-end;

        @include respond(phone) {
            background-image: 
                linear-gradient(to top, rgba(#333, .5) 50%, rgba(#333, 1) 100%),
                url('https://images.unsplash.com/photo-1629532599813-141ef98cc1a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
            align-items: center;
        }
    }
}

.footer {
    padding: 5rem 4rem;
    line-height: 1.2;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
        text-transform: uppercase;
        text-align: center;
    }

    &-link {
        @include respond(phone) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        &__item {
            margin: 0 1rem;
            text-decoration: none;
            color: #888;
            font-weight: 300;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
    
    margin-top: 2rem;
    padding-bottom: 3rem;
    border-bottom: rgba($color: #333, $alpha: .3) solid 1px;

    @include respond(phone) {
        grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    }

    &-item {
        margin-bottom: 2rem;

        &__image {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 1rem;
        }

        &__image img { width: 100%; }

        &__desc {
            display: flex;
            justify-content: space-between;
        }

        &__title {
            font-size: 2rem;
            line-height: 1.2;
        }

        &__price {
            padding: 1rem 1.5rem;
            background-color: #222;
            color: #f2f2f2;
        }
    }
}